{% load static %}
<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <title>Django-Websocket-|-Real-Time-Graph-with-Chart.js</title>
  </head>
  <body>

    

    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-4">
              <h1 id="app">{{ text }} !</h1>
              <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            <h3>Mod</h3>
        </div>
    </div>



    
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  


    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      var graphData = {
          type: 'line',
          data: {
              labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
              datasets: [{
                  label: 'Temperatura',
                  data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.5)',
                  ],
                
                  borderWidth: 2
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      }
      const myChart = new Chart(ctx, graphData);


      // Correctly decide between ws:// and wss://
      var ws_graph = '/ws/graph'
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var ws_path = ws_scheme + '://' + window.location.host + ws_graph + ":8001/"; // PRODUCTION
      // var ws_path = ws_scheme + '://' + window.location.host + "/";
      console.log("Connecting to " + ws_path);
      var socket = new WebSocket(ws_path);





      // const roomName = window.location.pathname;
      // const wsHost = 'ws://'
      // + window.location.host
      // + '/ws/graph/' + ":8001/";

      // const socket = new WebSocket(wsHost);


      socket.onmessage = function(e){
          var djangoData = JSON.parse(e.data);
          //document.querySelector('#app').innerText = djangoData.value;
          console.log(djangoData);

          var newGraphData = graphData.data.datasets[0].data;
          newGraphData.shift();
          newGraphData.push(djangoData.value);

          graphData.data.datasets[0].data = newGraphData;
          myChart.update();
      }

    </script>
  
  
  </body>
</html>